html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET ABOVE */

:root {
    --color-bg-main: #f0f0f0;
    --color-bg-second: #ffffff;
    --color-text-main: #222831;
    --color-text-second: #30475E;
    --color-text-light: #516d8a;
    --color-text-button: #ffffff;
    --color-accent: #FF4C29;
    --color-accent2: #950101;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--color-bg-main);
    height: -webkit-fill-available;

}

body {
    min-height: 100vh;
    height: -webkit-fill-available;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Lato', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar, .main, .footer {
    flex-shrink: 0;
}

/* Navbar styling */

.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-second);
    padding: 0 16px;
    height: 60px;
    width: 100%;
    color: var(--color-text-second);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #516d8a;
}

.navbar h1 .logo_color1 {
    color: var(--color-accent2);
}

.navbar h1 .logo_color2 {
    color: var(--color-accent);
}

.navbar .btn_modal {
    background-color: var(--color-accent);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-text-button);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar .btn_modal:active {
    margin-top: 2px;
    height: 33px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
}

/* Modal */

.modal {
    visibility: hidden;
    z-index: 2;
}

.modal.show {
    visibility: visible;
    transition: 0.3s ease-in;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 600px;
    width: 400px;
    background-color: var(--color-bg-second);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 0 30px;
}

#name_error,
#price_error,
#heat_error,
#toppings_error,
#pizza_error {
    visibility: hidden;
    font-size: 1rem;
    color: red;
}

#name_error.show,
#price_error.show,
#heat_error.show,
#toppings_error.show,
#pizza_error.show {
    visibility: visible;
}

/* Confirmation to delete */

.confirmation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 0 30px;
    height: 200px;
    width: 400px;
    background-color: var(--color-bg-second);
}

/* Main styling */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(400px, 60%, 1500px);
    flex-grow: 1;
}

.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 75px 0 40px 0;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    grid-auto-rows: 500px;
}

select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    position: absolute;
    top: 80px;
    right: 20px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 1rem;
    font-family: inherit;
    color: var(--color-text-second);
    font-weight: 600;
}

.grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--color-bg-second);
    text-align: center;
    color: var(--color-text-light);
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pizza_name {
    font-size: 1.6rem;
    color: var(--color-accent);
    font-weight: 600;
    max-width: 80%;
    overflow-wrap: break-word;
}

.btn_delete_pizza {
    width: 26px;
    height: 26px;
    border: none;
    background-color: var(--color-bg-main);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.pizza_image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: var(--color-bg-main);
    border-radius: 30px 30px 0px 0px;
    border: 10px solid var(--color-bg-second);
}

.pizza_heat {
    color: var(--color-accent2);
}

.pizza_toppings {
    font-size: 0.95rem;
}

/* Footer styling */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--color-bg-second);
    width: 100%;
    color: var(--color-text-light);
    font-family: inherit;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER ICON ANIMATION */
.footer .fa-github {
    color: var(--color-text-light);
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.footer .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
    color: var(--color-accent);
}

@media (hover: hover) {}

@media only screen and (max-width: 768px) {}